
func (c *{{ .TypeName }}) parse(args []string) {
	{{- /* Drop the program name from args if it's there. */ -}}
	{{ if .IsRoot }}
	if len(args) > 0 && len(args) == len(os.Args) {
		args = args[1:]
	}
	{{- end }}

	{{- /* Parse environment variables. */}}
	{{- with .EnvVals }}
	var err error
	{{- range . }}
	_, err = clap.ParseEnv(clap.New{{ .FieldType.ClapValueType }}(&c.{{ .FieldName }}), "{{ .VarName }}")
	if err != nil {
		fmt.Fprintf(os.Stderr, "%v", err)
		os.Exit(2)
	}
	{{- end }}
	{{- end }}

	cc := clap.NewCommand("{{ .Parents }}{{ .UsgName }}")

	{{- range .Opts }}
		{{- if ne .Name "h" }}
	cc.Flag("{{ .Name }}", clap.New{{ .FieldType.ClapValueType }}(&c.{{ .FieldName }}))
		{{- end }}
	{{- end }}
	cc.Parse(args, c.usage)

	{{- /* Arguments. */ -}}
	{{- with .Args }}

	rest := f.Args()

		{{- range $i, $arg := . }}
	if len(rest) < {{ add $i 1 }} {
			{{- if $arg.IsRequired }}
		fmt.Fprintf(os.Stderr, "error: missing arg {{ $arg.UsgName }}")
		os.Exit(2)
			{{- else }}
		return
			{{- end }}
	}
	if err = clap.New{{ .FieldType.ClapValueType }}(&c.{{ .FieldName }}).Set(rest[{{ $i }}]); err != nil {
		fmt.Fprintf(os.Stderr, "error: parsing arg: %v\n", err)
	}
		{{- end -}}{{- /* range all args */ -}}
	{{- end }}{{- /* with args */ -}}

	{{- /* Subcommands. */ -}}
	{{- with .Subcmds }}

	rest := f.Args()
	if len(rest) == 0 {
		fmt.Fprintf(os.Stderr, "error: no subcommand provided\nRun '{{ $.Parents }}{{ $.UsgName }} -h' for usage.\n")
		os.Exit(2)
	}
	switch rest[0] {
	{{- range . }}
	case {{ .QuotedNames }}:
		c.{{ .FieldName }} = &{{ .TypeName }}{}
		c.{{ .FieldName }}.parse(rest[1:])
	{{- end }}
	default:
		fmt.Fprintf(os.Stderr, "error: unknown subcommand '%s'\nRun '{{ $.Parents }}{{ $.UsgName }} -h' for usage.\n", rest[0])
		os.Exit(2)
	}
	{{- end }}
}
