
func (*{{ .TypeName }}) usage() string {
	return `{{ .Parents }}{{ .UsgName }} - {{ .Data.Blurb }}
{{- with .Overview }}

overview:
{{ . }}{{ end }}

usage:{{ range .UsageLines }}
   {{ . }}{{ end }}

{{- with .Opts }}
	{{- $nameWidth := $.OptNameColWidth }}

options:{{ range . }}
{{ .Usg $nameWidth }}{{ end -}}
{{ end -}}

{{- with .Args }}
	{{- $nameWidth := $.ArgNameColWidth }}

arguments:{{ range . }}
{{ .Usg $nameWidth -}}
{{ end -}}
{{ end -}}

{{ with .Subcmds }}
{{- $w := $.SubcmdNameColWidth }}

subcommands:{{ range . }}
{{ .Usg $w -}}
{{ end -}}
{{- if $.IsRoot }}

Run '{{ .UsgName }} <subcommand> -h' for more information on specific commands.{{ end }}{{ end }}
`
}
